@import "tailwindcss";
.sphare {
animation: sphare 15s infinite linear ;
}

@keyframes sphare {
    0%{ transform: rotate(0deg);};
    50% {transform: rotate(45deg);}
    100%{ transform: rotate(0deg);}
}

@theme {
    --color-lime : #BFF747
}